$primary-color: palevioletred;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.button {
  background: $primary-color;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background: darkred;
  }
}

// .grid-table {
//   display: grid;
//   max-width: 1000px;
//   width: 100%;
//   border: 1px solid black;
//   border-collapse: collapse;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: auto;

//   .header {
//     background-color: #333;
//     color: white;
//     padding: 10px;
//     border-bottom: 1px solid black;
//     text-align: center;
//     font-weight: bold;
//   }

//   .cell {
//     padding: 10px;
//     border-bottom: 1px solid black;
//     text-align: center;
//   }

//   .header:nth-child(3n) {
//     border-right: none;
//   }

//   .cell:nth-child(3n) {
//     border-right: none;
//   }
// }

.grid-table {
  display: grid;
  max-width: 1000px;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border: 1px solid black;

  .header {
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
  }

  .cell {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }
}